{{extend 'layout.html'}}
<h1>Server Setup</h1>

Here you can setup parameters to communicate with the nexuiz server process via rcon. 
<br><br>

Parameters include:
<br><br>

<table border="1">
  <tr>
	 <th>key</th><th>value</th>
  </tr>
  <tr>
	 <td>host</td><td>a string of the form hostname:port</td>
  </tr>
  <tr>
	 <td>rcon_password</td><td>a string containing the password for talking with the server</td>
  </tr>
  <tr>
	 <td>rcon_script</td><td>fully qualified path to the rcon.pl script (including the filename)</td>
  </tr>
</table>
<br><br>

<hr>
Enter a new key/value pair:<br><br>
{{=form}}
<hr>
<br><br>
Existing records:
<br><br>



{{for row in rows:}}
<hr>
{{=row}}
{{pass}}

